
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Bakalım ilk test sayfamız çalışıyor mu??</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Departman</th>

    </tr>
    <tr>
        <td>1</td>
        <td>sami</td>
        <td>Tekin</td>
        <td>Yazılım</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Berkant</td>
        <td>Yıldız</td>
        <td>Eğitim</td>

    </tr>
</table>